name: CI (PR)

on:
  pull_request:
    paths:
      - "app/**"
      - "infra/**"
      - ".github/workflows/**"

jobs:
  test-and-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: app/package-lock.json

      - name: Install deps
        working-directory: app
        run: npm ci

      - name: Run unit tests
        working-directory: app
        run: npm test

      - name: Build image
        run: docker build -t local/app:pr -f app/Dockerfile app

      - name: Trivy scan (image)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: local/app:pr
          format: 'table'
          ignore-unfixed: true
          vuln-type: 'os,library'
